<ion-header>
  <ion-toolbar>
    <ion-title>Perfíl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-avatar>
      <img src="https://reqres.in/img/faces/1-image.jpg" alt="">
    </ion-avatar>
    <ion-item lines="none">
      <h4>Bienvenido: {{ displayUserData.name }}</h4>
    </ion-item>
    <ion-item lines="full">
      <h5>{{ displayUserData.email }}</h5>
    </ion-item>

    <div class="center">
      <ion-button color="warning" (click)="salir()">Cerrar Sesión</ion-button>
    </div>

</ion-content>