ion-slide{
    padding: 140px 20px;
    display: block;
    h2{
        font-size: 36px;
        font-weight: bold;
    }
}

ion-slide img {
    display: inline-block;
    width: 100%;
    height: 100%;
}