<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <app-logo></app-logo>
    <h1>Crear una Cuenta</h1>
  </div>
  <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input autocomplete="off" formControlName="name" type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input autocomplete="off" formControlName="email" type="email" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input autocomplete="off" formControlName="username" type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input autocomplete="off" formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <p>¿Ya tiene una cuenta?</p>
        <a routerLink="/login"> Iniciar sesión</a>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="guardar()">Registrarse</ion-button>
    </ion-list>
  </form>

</ion-content>
