<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <app-logo></app-logo>
    <h1>Crear una Cuenta</h1>
  </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input autocomplete="off" name="name" type="text" [(ngModel)]="postData.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input autocomplete="off" name="email" type="email" [(ngModel)]="postData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <p>¿Ya tiene una cuenta?</p>
        <a routerLink="/login"> Iniciar sesión</a>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="registerAction()">Registrarse</ion-button>
    </ion-list>
  </form>

</ion-content>
