<ion-header>
  <ion-toolbar>
    <ion-title>Conducir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <capacitor-google-maps #map></capacitor-google-maps>
  </div>
    <div class="center">
      <h1>Programar Viaje</h1>
    </div>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Destino</ion-label>
          <ion-input autocomplete="off" name="destino" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Capacidad de Pasajeros</ion-label>
          <ion-input autocomplete="off" name="capacidad" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tarifa</ion-label>
          <ion-input autocomplete="off" name="tarifa" type="text" placeholder="$"></ion-input>
        </ion-item>
        <br><br>
        <ion-button expand="block" color="primary" (click)="presentAlert()">Crear Viaje</ion-button>
      </ion-list>
    </form>
</ion-content>
