<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="car"></ion-icon>
      <ion-label>Viajar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Conducir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Perfíl</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>